@charset "UTF-8";
label {
  font-size: 1rem;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1rem auto;
  gap: 0.5rem;
  cursor: pointer;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: transparent;
  margin: 0;
  cursor: pointer;
  font: inherit;
  color: currentColor;
  width: 1rem;
  height: 1rem;
  border: 0.1rem solid;
  border-color: #CCCBD2;
  border-radius: 0.1rem;
  position: relative;
}
input[type=checkbox]::before {
  content: "";
  width: 1.05rem;
  height: 1.05rem;
  transform: scale(0);
  transition: 100ms transform ease-in-out;
  box-shadow: inset 1em 1em #95FA99;
  position: absolute;
  top: -1.5px;
  left: -1.5px;
  border-radius: 0.1rem;
}
input[type=checkbox]::after {
  content: "";
  width: 1.05rem;
  height: 1.05rem;
  transform: scale(0);
  transition: 100ms transform ease-in-out;
  box-shadow: inset 1em 1em #24232B;
  position: absolute;
  top: -3px;
  left: 0px;
  transform-origin: bottom left;
  -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
          clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type=checkbox]:checked::before {
  transform: scale(1);
}
input[type=checkbox]:checked::after {
  transform: scale(0.8);
}
input[type=checkbox]:focus, input[type=checkbox]:hover {
  border: 0.1rem solid;
  border-color: #95FA99;
}

.slider {
  width: 100%;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  outline: none;
  width: 100%;
  height: 0.5rem;
  border-radius: 0.3rem;
  background: #18171F;
  background-image: linear-gradient(#95FA99, #95FA99);
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

input[type=”range”]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background-color: transparent;
  background-image: linear-gradient(#95FA99, #95FA99);
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: #95FA99;
}

input[type=range]::-moz-range-thumb {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: #95FA99;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: none;
  font-family: sans-serif;
  background-color: #100F15;
  color: #CCCBD2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-container {
  width: 21rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.app-container .title {
  margin: 0;
  padding: 1rem;
  text-align: center;
}
.app-container .generators-screen {
  width: 100%;
  height: 2rem;
  padding: 0.5rem 1.5rem;
  background-color: #24232B;
  width: 100%;
}
.app-container .settings-container {
  background-color: #24232B;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.length-container {
  width: 100%;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.length-container .length-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.length-container .length-row p {
  margin: 0;
}
.length-container .length-row #pwd-length {
  color: #95FA99;
  font-weight: 600;
  font-size: 1.8rem;
}

.settings-list {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}

.settings-list-item {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.pwd-level-row {
  width: 100%;
  line-height: 2rem;
  align-items: center;
  padding: 1rem 0;
  background-color: #18171F;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.pwd-level-row :first-child {
  margin: 0;
  margin-left: 1rem;
}
.pwd-level-row :last-child {
  margin: 0;
  margin-right: 1rem;
}

.darker {
  color: #898587;
}

#level {
  font-size: 1.4rem;
  font-weight: 600;
}

.button {
  cursor: pointer;
  width: 100%;
  height: 3rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border: 0.12rem solid;
  border-color: #95FA99;
  color: #95FA99;
  background-color: #24232B;
}/*# sourceMappingURL=main.css.map */