
@use "./variables" as var;
@use "./components/checkbox";
@use "./components/slider";

@mixin flex($direction, $aligh, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $aligh;
    justify-content: $justify;
}



body {
    margin: 0;
    padding: 0;
    box-sizing: none;

    font-family: sans-serif;
    background-color: map-get(var.$project-color, foreground);
    color: map-get(var.$project-color, text-lighter);

    @include flex(column, center, center);
}

.app-container {
    width: 21rem;

    @include flex(column, center, center);
    gap: 1rem;

    .title {
        margin: 0;
        padding: 1rem;
        text-align: center;
        font-size: 1rem;
    }
    .generators-screen {
        width: 100%;
        height: 2rem;
        padding: .5rem 1.5rem;
        background-color: map-get(var.$project-color, primary);
        width: 100%;

        @include flex(row, center, space-between);
        .clipboard {
            cursor: pointer;
            &:hover {
                color: map-get(var.$project-color, proj-green);
                font-weight: bold;
            }
        }
    }
    
    .settings-container {
        background-color: map-get(var.$project-color, primary);
        width: 100%;
        padding: 1.5rem;

        @include flex(column, flex-start, center);
        gap: 1rem;
    }

}

.length-container {
    width: 100%;
    line-height: 2rem;
    
    @include flex(column, center, flex-start);
    .length-row {
        width: 100%;
        @include flex(row, center, space-between);
        p {
            margin: 0;
        }
        #pwd-length {
            color: map-get(var.$project-color, proj-green);
            font-weight: 600;
            font-size: 1.8rem;
        }
    }
}

.settings-list {
    width: 100%;
    padding: 0;
    margin: 0;
    @include flex(column, flex-start, center);
    gap: .5rem;
}

.settings-list-item {
    list-style-type: none;

    @include flex(row, flex-start, center);

    

}

.pwd-level-row {
    width: 100%;
    line-height: 2rem;
    align-items: center;
    padding: 1rem 0;
    background-color: map-get(var.$project-color, secondary);
    @include flex(row, center, space-between);

    :first-child {
        margin: 0;
        margin-left: 1rem;
    }
    :last-child {
        margin: 0;
        margin-right: 1rem;
    }
}

.darker {
    color: map-get(var.$project-color, text-darker);
}

#level {
    font-size: 1.4rem;
    font-weight: 600;
}

.button {
    cursor: pointer;
    width: 100%;
    height: 3rem;
    

    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 600;

    @include flex(row, center, center);
    gap: 1.5rem;
    
    border: .12rem solid;
    border-color: map-get(var.$project-color, proj-green);
    color: map-get(var.$project-color, proj-green);
    background-color: map-get(var.$project-color, primary);
}